{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
<script type="text/javascript" src="/Content/Json/gridData.js"></script>
<div id="grid"></div>
<script type="text/javascript">
    jQuery(function ($) {
        $("#grid").shieldGrid({
            dataSource: {
                data: gridData
            },
            paging: {
                pageSize: 20,
                pageLinksCount: 10
            },
            columns: [
                { field: "created_date", width: "70px", title: "created_date" },
                { field: "city", title: "city" },
                { field: "address", title: "address" },
                { field: "type_of_activity", title: "type_of_activity", width: "270px" }
            ],
            toolbar: [
                {
                    buttons: [
                        {
                            commandName: "excel",
                            caption: '<span class="sui-sprite sui-grid-icon-export-excel"></span> <span class="sui-grid-button-text">Export to Excel</span>'
                        }
                    ]
                }
            ],
            exportOptions: {
                proxy: "/filesaver/save",
                excel: {
                    fileName: "shieldui-export",
                    author: "John Smith",
                    dataSource: {
                        data: gridData
                    },
                    readDataSource: true
                }
            }
        });
    });
</script>    

<link rel="stylesheet" href="{% static 'table/css/main.css' %}">
<div class="alert alert-primary" role="alert" style="text-align: center">
  <h3>КЛИЕНТЫ</h3>
</div>

<div style="margin-bottom:1em;">
    <form class="form-inline" method="GET">
    
        <div class="form-group">
          <input name="start_date"  type="text" class="form-control" placeholder="Дата начальная" onfocus="(this.type='date')"/>
        </div>
        
        <div class="form-group" >
          <input name="end_date"  type="text" class="form-control" placeholder="Дата конечная" onfocus="(this.type='date')" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="city" placeholder="Город">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="address" placeholder="Адрес">
        </div>
        
        <div class="form-group">
          <input type="text" class="form-control" name="type_of_activity" placeholder="Вид деятельности">
        </div>

        <button type="submit" class="btn btn-primary">Фильтр</button>
      </form>      
</div>



<table id="myTable">
  <thead>
    <tr style="background-color: #007bff">
      <th>ДАТА</th>
      <th>ГОРОД</th>
      <th>АДРЕС</th>
      <th>ВИД ДЕЯТЕЛЬНОСТИ</th>
      <th>ОПЛАТА</th>
      <th>КАССА</th>
      <th>ТЕРМИНАЛ</th>
    </tr>
  </thead>
  <tbody>
  {% if queryset %}
      {% for c in queryset %}
      <tr>
        <td data-label="ДАТА">{{ c.created_date|date:'d.m.Y' }}</td>
        <td data-label="ГОРОД">{{ c.city }}</td>
        <td data-label="АДРЕС">{{ c.address }}</td>
        <td data-label="ВИД ДЕЯТЕЛЬНОСТИ">{{ c.type_of_activity }}</td>
        <td data-label="ОПЛАТА">{{ c.payment }}</td>
        <td data-label="КАССА"><a href="{% url 'cashboxes_detail' c.id %}">КАССА</a></td>
        <td data-label="ТЕРМИНАЛ"><a href="{% url 'terminals_detail' c.id %}">ТЕРМИНАЛ</a></td>
      </tr>
      {% endfor %}

  {% elif queryset_1 %}
      {% for c in queryset_1 %}

        <tr>
        <td data-label="ДАТА">{{ c.created_date|date:'d.m.Y' }}</td>
        <td data-label="ГОРОД">{{ c.city }}</td>
        <td data-label="АДРЕС">{{ c.address }}</td>
        <td data-label="ВИД ДЕЯТЕЛЬНОСТИ">{{ c.type_of_activity }}</td>
        <td data-label="ОПЛАТА">{{ c.payment }}</td>
        <td data-label="КАССА"><a href="{% url 'cashboxes_detail' c.id %}">КАССА</a></td>
        <td data-label="ТЕРМИНАЛ"><a href="{% url 'terminals_detail' c.id %}">ТЕРМИНАЛ</a></td>
        </tr>

      {% endfor %}
  
  {% elif queryset_2 %}
      {% for c in queryset_2 %}

        <tr>
        <td data-label="ДАТА">{{ c.created_date|date:'d.m.Y' }}</td>
        <td data-label="ГОРОД">{{ c.city }}</td>
        <td data-label="АДРЕС">{{ c.address }}</td>
        <td data-label="ВИД ДЕЯТЕЛЬНОСТИ">{{ c.type_of_activity }}</td>
        <td data-label="ОПЛАТА">{{ c.payment }}</td>
        <td data-label="КАССА"><a href="{% url 'cashboxes_detail' c.id %}">КАССА</a></td>
        <td data-label="ТЕРМИНАЛ"><a href="{% url 'terminals_detail' c.id %}">ТЕРМИНАЛ</a></td>
      </tr>


      {% endfor %}

  {% else %}
      {% for cl in clients %}

        <tr>
          <td data-label="ДАТА">{{ cl.created_date|date:'d.m.Y' }}</td>
          <td data-label="ГОРОД">{{ cl.city }}</td>
          <td data-label="АДРЕС">{{ cl.address }}</td>
          <td data-label="ВИД ДЕЯТЕЛЬНОСТИ">{{ cl.type_of_activity }}</td>
          <td data-label="ОПЛАТА">{{ cl.payment }}</td>
          <td data-label="КАССА"><a href="{% url 'cashboxes_detail' cl.id %}">КАССА</a></td>
          <td data-label="ТЕРМИНАЛ"><a href="{% url 'terminals_detail' cl.id %}">ТЕРМИНАЛ</a></td>
        </tr>

      {% endfor %}


  {% endif %}
  
  </tbody>
</table>


<div class="pagination" style="display: flex;justify-content: center;">
    <span class="step-links">
        {% if clients.has_previous %}
            <button><a href="?page=1">&laquo; ПЕРВ.</a></button>
            <button><a href="?page={{ clients.previous_page_number }}">ПРЕД.</a></button>
        {% endif %}

                <span class="current">
             {{ clients.number }} ИЗ {{ clients.paginator.num_pages }}
        </span>



        {% if clients.has_next %}
            <button><a href="?page={{ clients.next_page_number }}">СЛЕД.</a></button>
            <button><a href="?page={{ clients.paginator.num_pages }}">ПОСЛ. &raquo;</a></button>
        {% endif %}
   </span>
</div>



  <button onclick="download();"  class="btn btn-success"><h4>Скачать</h4></button>



{% endblock %}
