{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}




<link rel="stylesheet" href="{% static 'table/css/main.css' %}">
<table>
  <thead>
    <tr style="background-color: #007bff">
      <th>ИМЯ/ФАМИЛИЯ</th>
      <th>АДРЕС</th>
      <th>НОМЕР ТЕЛ.</th>
      <th>ЗАРПЛАТА</th>
    </tr>
  </thead>
  <tbody>
  {% for i in employee %}
    <tr>
      <td data-label="И.Ф.О">{{ i.full_name }}</td>
      <td data-label="АДРЕС">{{ i.address }}</td>
      <td data-label="ТЕЛЕФОН">{{ i.tel_num }}</td>
      <td data-label="ДОЛЖНОСТЬ">{{ i.salary }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}
