{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.core.min.js" ></script>
    <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/ods.min.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/Blob.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/FileSaver.js"></script>
    <script type="text/javascript" src="http://sheetjs.com/demos/Export2Excel.js"></script>
    <script>
        function download() { export_table_to_excel('myTable', 'xlsx' || 'xlsx'); }
    </script>


<link rel="stylesheet" href="{% static 'table/css/main.css' %}">
<div class="alert alert-primary" role="alert" style="text-align: center">
  <h3>ТЕРМИНАЛЫ</h3>
</div>
<table id="myTable">
  <thead>
    <tr style="background-color: #007bff">
      <th>ДАТА ПОСТАНОВКИ</th>
      <th>НОМЕР</th>
      <th>ИП</th>
      <th>КЛИЕНТ</th>
    </tr>
  </thead>
  <tbody>
  {% for tm in terminals %}
    <tr>
      <td data-label="ДАТА ПОСТАНОВКИ">{{ tm.created_date }}</td>
      <td data-label="НОМЕР">{{ tm.number_of_terminal }}</td>
      <td data-label="ИП">{{ tm.iep }}</td>
      <td data-label="КЛИЕНТ">{{ tm.client }}</td>
    </tr>
  {% endfor %}

  {% for td in terminal_detail %}
        <tr>
          <td data-label="ДАТА ПОСТАНОВКИ">{{ td.created_date }}</td>
          <td data-label="НОМЕР">{{ td.number_of_terminal }}</td>
          <td data-label="ИП">{{ td.iep }}</td>
          <td data-label="КЛИЕНТ">{{ td.client }}</td>
        </tr>
    {% endfor %}


  </tbody>
</table>


  


{#<div class="pagination" style="display: flex;justify-content: center;">#}
{#    <span class="step-links">#}
{#        {% if transactions.has_previous %}#}
{#            <button><a href="?page=1">&laquo; ПЕРВ.</a></button>#}
{#            <button><a href="?page={{ transactions.previous_page_number }}">ПРЕД.</a></button>#}
{#        {% endif %}#}
{##}
{#                <span class="current">#}
{#             {{ transactions.number }} ИЗ {{ transactions.paginator.num_pages }}#}
{#        </span>#}
{##}
{##}
{##}
{#        {% if transactions.has_next %}#}
{#            <button><a href="?page={{ transactions.next_page_number }}">СЛЕД.</a></button>#}
{#            <button><a href="?page={{ transactions.paginator.num_pages }}">ПОСЛ. &raquo;</a></button>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

<div style="display: table;
margin-right: auto;
margin-left: auto;
text-align: center;
width: 150px;
height: 50px">
  <button onclick="download();" class="btn btn-primary" ><h4>Скачать</h4></button>
</div>



{% endblock %}
