{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<link rel="stylesheet" href="{% static 'table/css/main.css' %}">
    <table>
  <thead>
    <tr style="background-color: #007bff">
      <th>ДАТА</th>
      <th>ПРИХОД</th>
      <th>РАСХОД</th>
      <th>НАЗНАЧЕНИЕ</th>
      <th>БАЛАНС</th>
    </tr>
  </thead>
  <tbody>
  {% for i in transactions %}
    <tr>
      <td data-label="ДАТА">{{ i.created_date|date:'d/m/Y' }}</td>
      <td data-label="ПРИХОД">{{ i.incoming }}</td>
      <td data-label="РАСХОД">{{ i.expense }}</td>
      <td data-label="НАЗНАЧЕНИЕ">{{ i.description }}</td>
      <td data-label="БАЛАНС">{{ i.balance }}</td>
    </tr>
  {% endfor %}
    <tr>
        <th  colspan="2" scope="row"><h4>ИТОГ</h4></th>
        <td  data-label="ПРИХОД"><h6>{{ sum_incoming }}</h6></td>
        <td  data-label="РАСХОД"><h6>{{ sum_expense }}</h6></td>
        <td></td>0
        <td data-label="БАЛАНС"><h6>{{ balance }}</h6></td>
    </tr>
  </tbody>
</table>

<div class="pagination" style="display: flex;justify-content: center;">
    <span class="step-links">
        {% if transactions.has_previous %}
            <button><a href="?page=1">&laquo; ПЕРВ.</a></button>
            <button><a href="?page={{ transactions.previous_page_number }}">ПРЕД.</a></button>
        {% endif %}

                <span class="current">
             {{ transactions.number }} ИЗ {{ transactions.paginator.num_pages }}
        </span>



        {% if transactions.has_next %}
            <button><a href="?page={{ transactions.next_page_number }}">СЛЕД.</a></button>
            <button><a href="?page={{ transactions.paginator.num_pages }}">ПОСЛ. &raquo;</a></button>
        {% endif %}
    </span>
</div>



{% endblock %}
